
/* holo-holo colors */
/*
#38bada; /* blue */
/*
#ffec14; /* yellow */
/*
#d93d9d; /* pink */
/*
#e52f2f; /* red */

.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  z-index: 9;
  padding: 0.1rem 0.5rem 0;
  background: #080505; /* brown */
  color: #F8F4DD;
  border-bottom: solid 4px rgba(255,255,255,0.4);

   /* blue */
  /* color: #38bada;
  background: white;
  border-bottom: solid 4px #d93d9d; */ /* pink */

  @media (min-width: 600px) {
    padding: 0.1rem 2rem 0;
  }
}

.menu {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  display: block;
  color: inherit;
  padding: 0 0.75rem;
  position: relative;
  line-height: 3rem;
  font-size: 13px;
  margin: 0;

  @media (min-width: 600px) {
    padding: 0 1rem;
    margin-right: 1px;
    font-size: inherit;
  }

  border-bottom: solid 4px transparent;
  top: 4px;
}

.button {
  cursor: pointer;

  &:hover {
    border-bottom-color: rgba(255,255,255,0.3);
  }

  &.selected {
    border-bottom-color: rgba(255,255,255,0.4);
  }
}

.telNo {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}
