
.section {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  background: #f4efe2;
  background: #f1f0e9;
  overflow: hidden;
}

.flowers {
  pointer-events: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: 600px) {
    height: 80px;
  }
}

.title {
  flex: 0 0 auto;
  padding: 1rem 4.25rem 0.5rem 1rem;
  border-radius: 10px 10px 0 0;
  background: rgba(248, 46, 46, 0.8); /* red */
  background: #a1a1a0; /* grey */
  color: white;
}

.label {
  flex: 0 0 auto;
  padding: 0 3rem 1rem 1rem;
  background: rgba(248, 46, 46, 0.8); /* red */
  background: #a1a1a0; /* grey */
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.image {
  flex: 0 0 350px;
  order: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  @media (min-width: 850px) {
    flex: 0 0 50%;
    order: 1;
    min-height: 250px;
    border-radius: 0 0 10px 0;
  }
}

.details {
  order: 1;
  /* display: flex;
  flex-direction: column; */
  padding: 1rem;
  color: #333;

  @media (min-width: 850px) {
    flex: 0 1 auto;
    max-width: 50%;
    order: 0;
  }
}

.tag {

}

