:global(html) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@media screen {
  :global(html),
  body {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  font-family: 'Lato', sans-serif;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /*background: #f4efe2;*/
  /*background: #f1f0e9;*/
  /*background: #080505;*/
  background: #fefcf3;
  color: #080505;
  /*color: #333333;*/
  /*color: #038fb1;*/
}

/* theffc colors */
/*
#080505; /* dark brown - text / logo */
/*
#fefcf3; /* light cream - background */
/*
hsla(49, 85%, 97%, 0.5); /* light cream - background  */

:global(#app) {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

hr {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 2rem 0;
  border: none;
}
