:global(html) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media screen {
  :global(html),
  body {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  font-family: 'Lato', sans-serif;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background: #f4efe2;
  background: #f1f0e9;
  background: #080505;
  /*background:#F8F4DD;*/
  color: #333333;
  color: #038fb1;
  color: #080505;
}

/* holo-holo colors */
/*
#38bada; /* blue */
/*
#ffec14; /* yellow */
/*
#d93d9d; /* pink */
/*
#e52f2f; /* red */

:global(#app) {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  /*box-shadow: 0 0 500px rgba(255, 255, 255, 0.35);*/

  @media (min-width: 600px) {
    margin-bottom: 50px;
    border: solid 5px rgba(255, 255, 255, 0.15);
    /*#F8F4DD;*/
    border-top: none;
  }
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

hr {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 2rem 0;
  border: none;
}
