
.footer {
  display: flex;
  flex-direction: column;
  background: white;
}

.logos {
  padding: 1rem 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    justify-content: space-around;
    padding: 2rem 1rem 1rem;
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.instagramLink, .twitterLink {
  flex: 0 0 53px;
  height: 53px;
  margin-left: 1rem;

  @media (min-width: 600px) {
    margin-left: 2rem;
  }
}

.instagramLogo, .twitterLogo {
  width: 53px;
  height: 53px;
  border-radius: 0.25rem;
}

.findUsOnFacebook {
  flex: 0 1 200px;
  height: 53px;
  /* margin: 0 auto 1rem; */
}

.findUsOnFacebookLink {
  display: block;
  background: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  height: 100%;
}

.findUsOnFacebookLogo {
  display: block;
  width: 100%;
}

.logo {
  margin: 1rem;
  height: 120px;
  flex: 0 0 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-width: 600px) {
    height: 150px;
    flex: 0 1 150px;
  }
}

.legal {
  color: #F8F4DD;
  background: #080505;
  padding: 2rem 1rem;

  @media (min-width: 600px) {
    padding: 2rem 3rem;
  }
}
